$purple: #685dc5;
$green:#4FA16C; 
$white:#fff;
.navbar {
    background-color: $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
  } 
.navbar-brand h2,
.navbar-brand p {
  margin-right: 5px; 
}
  
  .button-container {
    position: fixed;
    top: 4%; 
    right: 150px; 
    z-index: 9999;   
  }

  .navbar .navbar-brand h2 {    
    color: $white;
  }

  .navbar .navbar-brand p {    
    color: $white;
    margin-left: 12px;  
    font-size: 0.85em;
    
  }

  .apply-button {
    display: flex;   
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex; 
    text-decoration: none;
    width: 100px; 
    height: 100px;    
    border-radius: 50%; 
    background-color:$green; 
    color: $white; 
    transition: height 0.5s ease, width 0.5s ease;    
  }
  
  .apply-button:hover {
    background-color: #307448;
    height: 110px; 
    width: 110px; 
    
  }
  
  .apply-button span {
    display: block; 
    text-decoration: none;
  }
  
  .apply-button span:first-child {
    margin-bottom: 5px; 
  }
