<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand d-flex align-items-center">
      <h2 class="m-0 mr-lg-4 order-lg-1 order-1">HARBOUR.SPACE</h2>
      <p class="m-0 mr-lg-4 mb-1 mb-lg-0 order-lg-2 order-2">/INTERACTION DESIGN</p>
    </div>
    <div class="ml-lg-auto order-lg-3 order-3">
      <img src="../../assets/images/image.png" alt="menu">
    </div>
    <div class="button-container ml-lg-0 ml-3 order-4">
      <a class="apply-button">
        <span>APPLY
          <br>
          NOW
        </span>
      </a>
    </div>   
  </nav>
  