<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand harbour-space" href="#">
        <h2>HARBOUR.SPACE</h2>
        <p>/INTERACTION DESIGN</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
        <div class="ml-auto">
            <div class="button-container">
                <a class="apply-button" href="#">
                    <span>APPLY
                        <br>
                        NOW
                    </span>
                </a>
            </div>
        
    </div>
</nav>