<div class="section hero-header container">
    <div class="content">
        <div class="heading">
            <div class="page-title">
                <img src="../../assets/images/title-bg.png" alt="" width="200px">
                <h1>Interactive Design Apprenticeship</h1>
            </div>
            <div class="zeptolab">
                <p><span class="label">Powered by: </span>Zeptolab</p>
                <img src="../../assets/images/zeptolab-logo.png" alt="logo" width="80">
            </div>
        </div>
        <div class="details" >
            <div class="dates">
                <div class="countdown box">
                    <h6>Application closes in</h6>
                    <p>6 Day : 22 Hrs : 56 Min : 13 Sec</p>
                </div>
                <div class="time box">
                    <div>
                        <h6>Location</h6>
                        <p>{{location}}</p>
                    </div>
                    <div>
                        <h6>Duration</h6>
                        <p> {{duration}} Year <br>Full-Time</p>
                    </div>
                    <div>
                        <h6>Start Date</h6>
                        <p> {{startDate}} </p>
                    </div>
                    <div>
                        <h6>End Date</h6>
                        <p>{{endDate}}</p>
                    </div>
                </div>
            </div>
            <div class="copy">
                <h5 style="margin-bottom: 3rem">A fully funded work-study program to launch your tech career </h5>
                <p class="p-large" style="margin-bottom: 3rem;">{{aboutHarbourSpace}} 
                </p>
                <p style="margin-bottom: 3rem;"><b>Position:</b> {{position}} </p>
                <button style="margin-bottom: 3rem;">Apply Now</button>
            </div>
        </div>
    </div>
</div>