<div class="section kpis container">
  <div class="content">
      <div class="about-cards">
          <div class="cost">
              <div class="cost-total">
                  <h6>Scolarship Value</h6>
                  <p class="total"> {{total_value | currency:'EUR':'symbol':'1.0-0'}} </p>
              </div>
              <div class="cost-details">
                  <div class="tuition">
                      <h6>Tuition covered</h6>
                      <p> {{tuition | currency:'EUR':'symbol':'1.0-0'}} </p>
                  </div>
                  <div class="remaining">
                      <h6>Reamining</h6>
                      <p> {{remaining | currency:'EUR':'symbol':'1.0-0'}} </p>
                  </div>
                  <div class="living">
                      <h6>Living stipend</h6>
                      <p> {{stipend_per_year | currency:'EUR':'symbol':'1.0-0'}} ({{stipend_per_month | currency:'EUR':'symbol':'1.0-0'}}/ month)</p>
                  </div>
              </div>
          </div>
          <div class="about-card study box">
              <h6>Study commitment</h6>
              <p class="sub-heading"> {{study_commitment}} hours / day</p>
              <hr class="box-hr">
              <p> {{study_commitment_text}} </p>
          </div>
          <div class="about-card work box">
              <h6>Work Commitment</h6>
              <p class="sub-heading"> {{internship_commitment}} hours / day</p>
              <hr class="box-hr">
              <p> {{internship_commitment_text}}  </p>
          </div>
          <div class="graduation-label">
              <hr class="box-hr">
              <h4>GRADUATION</h4>
              <hr class="box-hr">
          </div>
          <div class="about-card contract box">
              <h6>A Full-Time Contract</h6>
              <p class="sub-heading">1 Year Full-Time</p>
              <hr class="box-hr">
              <p>You’ll be guaranteed a 1 year contract with SCG upon graduation. </p>
          </div>
      </div>
  </div>
</div>